        /* CSS général du mini projet quizz inclut toutes les pages nécéssaires  */
    /* CSS de la page index.php */

body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
    background-color: rgb(20, 46, 32);
    height: 100px;

}
.logo
{
    background-image: url(../images/logo-QuizzSA.png);
    background-size: 57px;
    height: 90px;
    width: 15%;
    margin-left: 30px;
    background-repeat: no-repeat;
}
.content
{
    background-image: url(../images/img-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 688px;
}
.header-text
{
    color: #fff;
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 30px;
    font-weight: bold;

}
.container
{
    position: relative;
    top: 20%;
    left: 32%;
    height: 60%;
    width: 40%;
    background-color:white;
}
.container-header
{
    height: 100px;
    background-color: turquoise;
}
.title
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}
.input-form
{
    height: 60px;
    margin: 10px 35px;
}
.form-control
{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: oldlace;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: silver;
}
.error-form
{
    color: red;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.icon-form
{
    height: 35px;
    width: 30px;
    position: relative;
    top: 50px;
    left: 96%;
}
.icon-form-login
{
    background-image: url(../icones/ic-login.png);
    background-repeat: no-repeat; 
}
.icon-form-pwd
{
    background-image: url(../icones/ic-password.png);
    background-repeat: no-repeat; 
}
.btn-form
{
    margin-top: 40px;
    padding: 10px;
    color: #fff;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid darkturquoise;
}
.link-form
{
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
    color: silver;
    text-decoration: none;
}
        /* CSS page admin.php  */
.wrapper
{
    position: relative;
    top: 1%;
    background-size: cover;
    height: 675px;
    width: 98%;
    left: 1%;
    background-color:#f0e9e9e5;
}
.wrapper-header
{
    height: 100px;
    background-color: rgb(58, 212, 240);
    text-align: center;
}
.up-title
{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
}
.btn-position
{
    height: 45px;
    width: 138px;
    position: relative;
    top: -77px;
    left: 44%;
}
.deconnexion
{
    padding: 10px;
    color: #fff;
    background-color: darkturquoise;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid darkturquoise;
}
.wrapper-header a
{
    text-decoration: none;
    color: #fff;
}
*
{
    margin: 0;
    padding: 0;
}
    /* CSS menu de la page admin.php  */
.create
{
    position: relative;
    margin-top: 1%;
    background-size: cover;
    height: 360px;
    width: 20rem;
    left: 20%;
    background-color:#fff;
    border-radius: 8px;
}
.create-header
{
    height: 100px;
    padding: 7%;
    background-color: lightskyblue;
    display: flex;
    justify-content: start;
}
.picture-form
{
    height: 110px;
    width: 110px;
    border: 1px solid rgb(105, 104, 104);
    border-radius: 50%;
}
.picture
{
    position: relative;
    height: 90px;
    width: 90px;
    top: 8%;
    left: 8%;
    background-size: 100%;
    border: 1px solid none;
    border-radius: 50%;
}
ul
{
    list-style: none;
}
.list
{
    width: 100%;
}
li a{
    color:gray !important
}
.list-form
{ 
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-color: oldlace;
    padding: 1px;
    font-size: 18px;
    font-weight: bold;
    color: silver;
}
.liste-icon-form
{
    padding:1rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    text-align: left;
}
.-active{
    border-left: solid 5px green;
}
        /* CSS page Joueur.php  */
.middle
{
    position: relative;
    top: 2%;
    background-size: cover;
    height: 510px;
    width: 30%;
    padding: 20px;
    right: -43%;
    background-color:#fff;
    border-radius: 8px;
}
.gamerscore
{
   height: 458px;
   width: 96%;
   margin-top: 2%;
   background-color: #fff;
   background-size: cover;
   border-style: solid;
   border-color: rgb(143, 222, 236);
   border-radius: 8px;
}
.dec
{
    color: #fff;
    text-decoration: none;
}
P
{
    position: relative;
    text-transform: uppercase;
    top: 4px;
    left: 23%;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: grey;
}
     /* CSS page Inscription.php  */
.in
{
    position: relative;
    top: 1%;
    background-size: cover;
    height: 490px;
    width: 40%;
    padding: 90px;
    right: -43%;
    background-color:#fff;
    border-radius: 8px;
}
.side
{
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: rgb(138, 135, 135);
}
b
{
    position: relative;
    font-size: 11px;
    color: silver;
}
.divider
{
    width: 375px;
    height: 2px;
    margin-top: 3%;
    background: silver;
}
.in-body
{
    margin-top: -20%;
}

.in-control
{
    font-weight: bold;
    font-size: 20px;
    color: rgb(119, 114, 114);
    width: 50%;
    height: 90%;
    border-radius: 8px;   
}
.direct
{
    position: relative;
    top: -px;
    font-size: 12px;
    color: rgb(119, 114, 114);
}
h5
{
    position: relative;
    margin-left: 13px;
    margin-top: 4%;
}
.fich
{
    height: 28px;
    width: 110px;
    position: relative;
    top: -15px;
    left: 33%;
    padding: 3px;
    color: red;
    background-color: rgb(58, 212, 240);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid turquoise;
}
.compte
{
    height: 28px;
    width: 90px;
    position: relative;
    top: -10px;
    left: 20%;
    padding: 1px;
    color: #fff;
    background-color: #3ad4f0;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid turquoise;
}
.img-form
{
    position: relative;
    height: 175px;
    width:  175px;
    margin-left: 68%;
    margin-top: -9%;
    border: 3px solid #3ad4f0;
    border-radius: 50%;
}
#img
{
    position: relative;
    height: 173px;
    width: 173px;
    background-size: 99%;
    border-radius: 50%;

}
    /* CSS de la page jeux.php  */
.interface
{
    position: relative;
    margin-top: 1%;
    background-size: cover;
    height: 32rem;
    width: 95.5%;
    padding: 20px;
    left: 1%;
    right: 1%;
    background-color:#fff;
    border-radius: 8px;
}
 .ask 
{
    height: 33rem;
    width: 58rem;
    margin-top: -.5%;
    background-color: #fff;
    background-size: cover;
    border-style: solid;
    border-color: rgb(143, 222, 236);
    border-radius: 8px;
} 
.ask-side
{
    position: relative;
    width: 98%;
    height: 25%;
    margin-top: 1%;
    left: 1%;
    right: 1%;
    background-color: rgb(222, 228, 231);
    border-style: outset;
    border-radius: rgb(107, 149, 216);
}    
h4
{
    font-size: 2rem;
    padding: 30px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}


#questions
{
    position: relative;
    background-size: cover;
    height: 33rem;
    width: 45rem;
    padding: 20px;
    right: -43%;
    background-color:#fff;
    border-radius: 8px;
}
.questions-header
{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: rgb(65, 206, 231);
}
.questions-border
{
    height: 458px;
    width: 96%;
    margin-top: 2%;
    background-color: #fff;
    background-size: cover;
    border-style: solid;
    border-color: rgb(143, 222, 236);
    border-radius: 8px;
}
.qst
{
    height: 6rem;
    margin: 10px 35px; 
}
.qst input
{
    width: 75%;
    height: 5rem;
    background: rgb(230, 230, 230);
}
.point
{
    height: 3rem;
    margin: 10px 35px; 
} 
.point input
{
    height: 2rem;
    width: 10%;
    background: rgb(230, 230, 230);
}
#plus
{
    position: relative;
    margin-bottom: 0px;
    width: 3rem;
    height: 2.5rem;
    top: .5rem;
    margin-top: 0px;
    border: none;
    background-color: rgb(96, 169, 230);
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase
}
.erg
{
   
    top: .1rem;
    left: 80%;
    padding: 12px;
    background-color:  rgb(116, 196, 243);
    font-size: 19px;
    font-weight: lighter;
    color: #fff;
    text-transform: capitalize;
}
.croix
{
    position: relative;
    margin-bottom: 0px;
    width: 3rem;
    height: 2.5rem;
    top: .5rem;
    margin-top: 0px;
    background-color: red;
    color: #fff;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase
}